.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;

  .timeWrapp {
    align-self: flex-end;
    margin-bottom: -25px;

    .deleteBtn {
      background-color: white;
      width: 28px;
      height: 28px;
      border-radius: 100px;
      border: none;
      font-weight: bold;
      transition: 0.2s;

      //box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      svg {
        fill: black;
      }

      &:hover {
        background-color: red;
        transition: 0.2s;

        svg {
          fill: white;
        }
      }

      &:active {
        background-color: black;
        color: white;
        transition: 0.2s;

        svg {
          fill: white;
        }
      }
    }
  }

  .clock {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;

    border-radius: 100%;
    background: #ffffff;
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);

    .clockWrapp {
      overflow: hidden;
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 100%;

      .timezone {
        padding-left: 25%;
        padding-right: 25%;

        h2 {
          color: #4A4A4A;
          text-align: center;
        }
      }

      .hours {
        position: absolute;
        height: 80px;
        width: 6px;
        margin: auto;
        top: -32%;
        left: 0;
        bottom: 0;
        right: 0;
        background: black;
        transform-origin: bottom center;
        transform: rotate(0deg);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
        z-index: 1;
      }

      .minutes {
        position: absolute;
        height: 110px;
        width: 4px;
        margin: auto;
        top: -44%;
        left: 0;
        bottom: 0;
        right: 0;
        background: black;
        transform-origin: bottom center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
        transform: rotate(90deg);
        z-index: 1;
      }

      .seconds {
        position: absolute;
        height: 70px;
        width: 2px;
        margin: auto;
        top: -28%;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        background: #FF4B3E;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
        transform-origin: bottom center;
        transform: rotate(180deg);
        z-index: 1;
      }

      .dots {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        background: white;
        border: 2px solid #1b1b1b;
        margin: auto;
        z-index: 1;
      }

      .timeBoard {
        position: absolute;
        margin-left: 20px;
        bottom: 45%;

        width: 70px;

        padding: 2px 6px;
        color: #1E2123;
        background-color: white;
        box-shadow: inset 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        border-radius: 6px;
      }
    }
  }
}